<nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex input-group w-auto">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon"/>
            <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search text-light"></i>
          </span>
        </form>
    </div>
</nav>