@font-face {
  font-family: "SFProText";
  src: url("../font/FontsFree-Net-SFProText-Semibold-1.ttf");
}

@font-face {
  font-family: "SFProText-Light";
  src: url("../font/FontsFree-Net-SFProText-Light.ttf");
}

* {
  font-family: "SFProText";
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "SFProText-Light";
}

.font-light {
  font-family: "SFProText-Light";
}

body {
  width: 100%;
}

nav {
  box-sizing: content-box;
}

#table-button button i {
  font-size: small;
}

#table-data th:first-child {
  width: 5%;
}

#table-data th:nth-child(2),
#table-data th:nth-child(3),
#table-data th:nth-child(5) {
  width: 25%;
}

.input-img{
  width: 70%;
  height: 200px;
  border: dashed 2px grey;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .contain {
    width: 50%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  #table-button {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
  #btn-new-article {
    padding-left: 15px;
    padding-right: 15px;
  }
  #btn-kh,
  #btn-eng,
  #btn-kr {
    padding: 5px 8px;
  }
  #table-button button i {
    font-size: smaller;
  }
  #table-button button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
