<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Home</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <!-- MDB -->
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Custom Js -->
    <script src="../js/script.js"></script>
</head>
<body>
<!-- header -->
<header>
    <div th:insert="fragments/navbar.html :: navbar"></div>
</header>

<!-- container -->
<div class="container mt-5">
    <!-- data -->
    <div class="row">
        <!-- Posts -->
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <!-- Each Post -->
                <div th:each="i : ${#numbers.sequence(posts.size() - 1, 0, -1)}" class="col-12 mb-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between  mb-2 mt-1">
                            <!-- Upvote & DownVote -->
                            <div class="d-flex">
                                <a th:href="@{/upvote(id=${posts[i].id})}"
                                   type="button" class="btn">
                                    <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                                </a>
                                <p class="m-2" th:text="${posts[i].vote}">0</p>
                                <a th:href="@{/downvote(id=${posts[i].id})}" type="button" class="btn"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <!-- btn update -->
                                <a th:href="@{/update}" type="button" class="btn btn-light me-2 btn-update"
                                   data-mdb-toggle="modal"
                                   th:attr="data-mdb-target=${'#updateModal'+ posts[i].id}">
                                    Edit
                                </a>
                                <!-- btn delete -->
                                <a th:href="@{/delete/(id=${posts[i].id})}" type="button" class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                        <img th:src="@{${'/images/' + posts[i].image_url}}"
                             class="card-img-top" style="width: 50%; margin: auto"
                             alt=""/>
                        <div class="card-body">
                            <a th:href="@{/view/details(id=${posts[i].id})}" th:text="${posts[i].title}" class="card-title" style="font-size: x-large">Card title</a>
                            <p th:text="${posts[i].description}" class="card-text">
                                description
                            </p>
                        </div>
                        <div class="card-footer d-flex mb-2">
                            <label></label>
                            <!-- view -->
                            <a th:href="@{/view/details(id=${posts[i].id})}" class="btn btn-primary ms-2 mt-2">View</a>
                            <a th:href="@{/view/details(id=${posts[i].id})}" class="btn btn-primary ms-2 mt-2">
                                comment <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Features -->
        <div class="col-lg-4 col-sm-12">
            <div class="row mb-2">
                <div class="col-12 mb-3">
                    <!-- Feature create new post & create new subreddit -->
                    <div class="card text-center">
                        <div class="card-header">Featured</div>
                        <div class="card-body">
                            <h5 class="card-title">Welcome to Reddit clone home.</h5>
                            <p class="card-text">What's on your mind ?</p>
                            <div>
                                <!-- Create new Article -->
                                <button th:text="#{btn.create}" id="btn-new-post" type="button"
                                        class="btn btn-success btn-rounded mb-3 "
                                        data-mdb-toggle="modal"
                                        data-mdb-target="#addModal">
                                    Create new post
                                </button>
                            </div>
                            <div>
                                <!-- Create Sub Reddit -->
                                <button id="btn-new-sub-reddit" type="button"
                                        class="btn btn-outline-success btn-rounded"
                                        data-mdb-toggle="modal"
                                        data-mdb-target="#subreddit-Modal">
                                    Create Subreddit
                                </button>
                            </div>
                        </div>
                        <div class="card-footer text-muted">Reddit Clone</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Sub Reddit -->
                    <div class="card text-center">
                        <div class="card-header">Browse Subreddits</div>
                        <div class="card-body">
                            <ul th:each="i : ${#numbers.sequence(subredditList.size() - 1, 0, -1)}" class="list-group list-group-flush">
                                <li class="list-group-item"><a th:text="${subredditList[i].title}" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-muted"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Create new Post-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Create new post</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--/*@thymesVar id="posted" type=""*/-->
                <form action="/create-post" th:object="${posted}" method="post" enctype="multipart/form-data">
                    <!-- title -->
                    <div class="mb-1">
                        <label for="new-title" class="col-form-label">Title</label>
                        <input name="title" type="text" class="form-control" id="new-title" required>
                        <p></p>
                    </div>
                    <!-- description -->
                    <div class="mb-1">
                        <label for="new-desc" class="col-form-label">Description</label>
                        <textarea name="description" type="text" class="form-control" id="new-desc"> </textarea>
                    </div>
                    <!-- selection -->
                    <div class="mb-1">
                        <label for="sub-opt" class="col-form-label">Please Select Option</label>
                        <select name="sub_reddit_id" class="form-select" aria-label="Default select example" id="sub-opt">
                            <option th:each="i : ${#numbers.sequence(subredditList.size() - 1, 0, -1)}"
                                    th:text="${subredditList[i].title}" th:value="${subredditList[i].id}">General</option>
                        </select>
                    </div>
                    <!-- img -->
                    <div class="mb-1">
                        <!-- Choose File -->
                        <label for="new-file" class="col-form-label">Choose Image</label>
                        <input name="file" type="file" accept="image/*"
                               class="form-control mb-3" id="new-file" onchange="showPreview(event, this.id);"/>
                        <img id="preview" style="width: 50%; display: none;" class="mb-3"
                             src=""
                             alt=""/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-save">Post</button>
                        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create new SubReddit-->
<div class="modal fade" id="subreddit-Modal" tabindex="-1" aria-labelledby="subreddit-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subreddit-label">Create Subreddit</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/create-subreddit" th:object="${subreddit}" method="post" enctype="multipart/form-data">
                    <!-- title -->
                    <div class="mb-1">
                        <label for="new-title" class="col-form-label">Title</label>
                        <input name="title" type="text" class="form-control" id="subreddit-title" required>
                        <p></p>
                    </div>
                    <!-- description -->
                    <div class="mb-1">
                        <label for="new-desc" class="col-form-label">Description</label>
                        <input name="description" type="text" class="form-control mb-4" id="subreddit-desc">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-save-subreddit">Save</button>
                        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer>
</footer>

<!-- Moment Js -->
<script src="https://MomentJS.com/downloads/moment.js"></script>
<!-- MDB -->
<script type="text/javascript" src="../js/mdb.min.js"></script>
<!-- Custom Script -->
<script>
    function showPreview(event, id) {
        if (event.target.files.length > 0) {
            console.log(event)
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById(id).nextElementSibling;
            preview.style.display = "block";
            preview.src = src;
        }
    }
    const onLanguageChange = (value) => {
        window.location.replace('?lang=' + value);
    }

    let now = moment();
    let time = now.format();
    console.log(now.format());
    document.getElementById("todaysdate").innerHTML = time;

    function onVote(id) {
        $.ajax({
            type: 'get',
            url: "/upvote/?id=" + id,
            success: function () {
                console.log("success")
            }
        });
    }
</script>
</body>

</html>