<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View</title>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <!-- MDB -->
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Custom Js -->
    <script src="../js/script.js"></script>
</head>
<body>

<!-- header -->
<header>
    <div th:insert="fragments/navbar.html :: navbar"></div>
</header>

<div style="margin-left: 20%; margin-right: 35%">
    <!-- Post Detail-->
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between  mb-2 mt-1">
                <!-- Upvote & DownVote -->
                <div class="d-flex">
                    <a th:href="@{/view/details/upvote(id=${post.id})}" type="button" class="btn"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i></a>
                    <p class="m-2" th:text="${post.vote}">0</p>
                    <a th:href="@{/view/details/downvote(id=${post.id})}" type="button" class="btn"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i></a>
                </div>
                <div>
                    <!-- btn update -->
                    <a th:href="@{/update}" type="button" class="btn btn-light me-2 btn-update"
                       data-mdb-toggle="modal"
                       th:attr="data-mdb-target=${'#updateModal'+ post.id}">
                        Edit
                    </a>
                    <!-- btn delete -->
                    <a th:href="@{/delete/(id=${post.id})}" type="button" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
            <img th:src="@{${'/images/' + post.image_url}}"
                 class="card-img-top" style="width: 40%; margin: auto"
                 alt=""/>
            <div class="card-body">
                <a th:text="${post.title}" href="#" class="card-title" style="font-size: x-large">Card title</a>
                <p th:text="${post.description}" class="card-text">
                    description
                </p>
            </div>
            <form th:action="@{/view/details/comment(post_id=${post.id})}" a th:object="${comment}" method="post">
            <div class="card-footer d-flex mb-2">
                <!-- comment -->
                    <input name="comment" type="text" class="form-control mt-2" id="comment" placeholder="comment">
                    <button type="submit" class="btn btn-primary ms-1 mt-2"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    <!-- Back -->
                    <a th:href="@{/}" class="btn btn-primary ms-1 mt-2">Back</a>
            </div>
            </form>
            <!-- comment show -->
            <div class="card">
                <div class="card-body">
                    <label th:text="Comment + ' ' + ${comments.size()}">Comments</label>
                    <ul th:each="i : ${#numbers.sequence(comments.size() - 1, 0, -1)}" class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${comments[i].comment}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- MDB -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>

</div>
</body>
</html>